<%- include partials/header %>

<div class="row">
    <div class="types">
        <%- include partials/sidemenu %>
    </div>

    <h5 class="col s12 m3 center">
        <%- productType %>
    </h5>

    <br><br><br>

    <div class="center">

        <% listing.forEach((item, index) => { %>
        <% if (index % 4 === 0) { %>
        <div class="row">
            <% } %>
            <div class="col s12 m3">
                <div class="card z-depth-0">
                    <a href="/product/<%= item.id %>">
                        <div class="card-image">
                            <img src="https://images.unsplash.com/photo-1546650855-1d0a29c1a31d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80">

                        </div>
                        <div class="card-content center black-text">
                        <span class="card-title black-text">
                            <%= item.name %>
                        </span>
                        <p>
                            <%= item.price.toFixed(2) %> ₺
                        </p>
                        </div>
                    </a>
                </div>
            </div>
            <% if (index % 4 === 3) { %>
        </div>
        <% } %>
        <% }); %>
    </div>
</div>

<%- include partials/footer %>
